<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.omeran.dao.MemberDAO">

	<sql id="login">
		<if test="1 == 1">
			user_table WHERE id=#{id} AND pw = #{pw}
		</if>
	</sql>

  	<select id="getEmail" resultType="String">
	  select name from user_table where u_id = #{id}
	</select>
  
	<select id="getUserInfoStr" resultType="HashMap">
		SELECT * FROM <include refid="login"></include>  
	</select>
	
	<select id="getUserInfoTime" resultType="HashMap">
		SELECT register_date, modify_date, recent_visit FROM <include refid="login"></include>  
	</select>
	
	<select id="getUserInfoInt" resultType="HashMap">
		SELECT u_id, status FROM <include refid="login"></include>  
	</select>
	
	<update id="updateRecentLogin">
		UPDATE user_table SET modify_date=CURRENT_TIMESTAMP, recent_visit=CURRENT_TIMESTAMP WHERE u_id = #{u_id};
	</update>
	
	<!--쿼리의 id -->
	<select id="selectBoardList" parameterType="hashmap" resultType="hashmap"> 
		<![CDATA[ 
		SELECT * 
		FROM Faq_table
		]]> 
	</select>

	
	<select id="getFaqCount" resultType="int">
		SELECT COUNT(*) FROM Faq_table WHERE title LIKE "%${keyword}%" AND status = 1;
		
	</select>
	
	<select id="getFaqList" resultType="HashMap">
		SELECT * FROM Faq_table WHERE title LIKE "%${keyword}%" AND status = 1 ORDER BY faq_id DESC LIMIT #{startIndex}, #{cntPerPage};
	</select>
	
	<select id="insertBoard" parameterType="hashmap"> 
		<![CDATA[ 
			INSERT into 
			Faq_table(title,content, writer, upload_date) 
			values (#{TITLE}, #{CONTENTS}, #{writer}, CURRENT_TIMESTAMP);
		]]> 
	</select>

	<update id="updateBoard" parameterType="hashmap"> 
		<![CDATA[ 
			UPDATE Faq_table SET title = #{title},
			content = #{content}
			where faq_id = #{faq_id}
		]]>
	</update>
	
	<update id="deleteFaqBoard">
		UPDATE Faq_table SET modify_date=CURRENT_TIMESTAMP, status=-1 WHERE faq_id = #{faq_id} LIMIT 1;
	</update>
	
	<update id="updateFaqBoard" parameterType="hashmap"> 
		<![CDATA[ 
			UPDATE Faq_table 
			SET title = #{title},
				content = #{contents},
				writer = #{writer}
			WHERE faq_id = #{faq_id}
			LIMIT 1
		]]>
	</update>
	
	<!-- 상품정보 받아오기 -->
	<select id="getAllProductList" resultType="HashMap">
		SELECT * FROM ProductTable JOIN (StateTable) ON ProductTable.state_id=StateTable.state_id WHERE ProductTable.state_id != "delete" ORDER BY p_id;
	</select>
	
	<select id="getProductList" resultType="HashMap">
		SELECT * FROM ProductTable JOIN (StateTable) ON ProductTable.state_id=StateTable.state_id WHERE ProductTable.state_id = "${state_id}" ORDER BY p_id;
	</select>
	
	<!-- stateTable 정보 가져오기 -->
	<select id="getStateList" resultType="HashMap">
		SELECT * FROM StateTable WHERE state_id LIKE "${category}%";
	</select>

	<update id="productSimpleUpdate"> 
		<![CDATA[ 
			UPDATE ProductTable 
			SET 
				price = #{price}, 
				discount_price = #{discount_price}, 
				state_id = "${stateId}", 
				mod_date = CURRENT_TIMESTAMP 
			WHERE p_id = #{productId};
		]]>
	</update>
	
	<update id="productDelete">
		<!-- <![CDATA[
			DELETE FROM ProductTable
			WHERE p_id = #{productId}
			LIMIT 1;
		]]> -->
		UPDATE ProductTable
		SET
			state_id = "delete",
			mod_date = CURRENT_TIMESTAMP
		WHERE p_id = #{productId};
	</update>

</mapper>

